  <div>
        <a href="/dashboard/create/"><button id="create-post" class="button is-primary is-pulled-right">Create Post</button></a>
        
        <h2 class="title font-weight-bold">Your Posts:</h2>
    </div>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<br>
<h4> Create a post to see them here. </h4>
{{/if}}

<script src="/javascript/add-post.js"></script>